doctype 5
html
  head
    title archery-game-2d
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/lib/require.js', data-main='/javascripts/client-require.js')
    block scripts
  body
    block content